/* 400 - Regular */
@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/HelveticaNeue-Roman.otf');
    font-weight: 400;
    font-style: normal;
}

/* 500 - Medium */
@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('../fonts/HelveticaNeue-Medium.otf');
    font-weight: 500;
    font-style: normal;
}


/* 700 - Bold */
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeue-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 1. Убираем системный тап‑хайлайт */
* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #AE9877;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #fff;
    min-width: 320px;
}

:root {
  --dark-blue: #15284E;
  --blue: #2F5CB7;
  --gray-bg: #F8F8F8;
  --light-blue: #DAE7FC;
}

.container {
    padding: 0px 80px 0px 80px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

/* Страница "main.html" */

/* Главный баннер */

.welcome-banner {
    background-image: url('../img/main/background.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    text-align: center;
}

.welcome-banner h1 {
    font-family: 'Helvetica Neue Bold', sans-serif;
    max-width: 1000px;
    width: 100%;
    font-size: 90px;
    line-height: 100%;
}

.welcome-text {
    margin-top: 24px;
    margin-bottom: 32px;
    max-width: 631px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
}

.sign-up-button {
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-weight: 500;
    border: none;
    background-color: #fff;
    font-size: 18px;
    color: var(--blue);
    text-transform: uppercase;
    padding: 19px 32px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-up-button:hover {
    background-color: var(--light-blue);
}

.sign-up-button-blue {
    background-color: var(--blue);
    color: #fff;
}

.sign-up-button-blue:hover {
    background-color: #3369D7;
    color: #fff;
}

/* Секция "Услуги" */

.services {
    color: var(--dark-blue);
    margin: 120px 0px;
}

.services-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-cards {
    display: grid;
    gap: 20px;
}

.service-row-1 {
    grid-template-columns: minmax(0px, 720px) minmax(0px, 600px) minmax(0px, 400px);
}

.service-row-2 {
    grid-template-columns: minmax(0px, 720px) minmax(0px, 400px) minmax(0px, 600px);
}

.service-card {
    position: relative;
    background-color: var(--gray-bg);
    border-radius: 20px;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 32px;
    transition: all 0.3s ease;
    position: relative;
    height: 340px;
}

.service-card:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}

.service-card:hover .service-open-button {
    background-color: #ffffff;
}

.service-top {
    display: flex;
    justify-content: space-between;
}

.service-title {
    font-size: 32px;
    font-family: 'Helvetica Neue Bold', sans-serif;
    max-width: 500px;
    width: 100%;
}

.service-title-1 {
    max-width: 374px;
    width: 100%;
}

.service-title-2 {
    max-width: 330px;
    width: 100%;
}

.service-title-3 {
    max-width: 256px;
    width: 100%;
}

.service-title-4 {
    max-width: 445px;
    width: 100%;
}


.service-title-6 {
    max-width: 374px;
    width: 100%;
}

.service-open-button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #EEEEEE;
    padding: 14px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.service-img {
    position: absolute;

}

.service-img img {
  display: block;
  width: 100%;
  height: auto;
}

.service-img-1 {
    top: 60px;
    right: 50px;
}

.service-img-2 {
    top: 40px;
    right: 10px;
}

.service-img-3 {
    top: 75px;
    right: 0px;
}

.service-img-4 {
    top: 110px;
    right: 0px;
}

.service-img-5 {
    top: 0px;
    right: 0px;
}

.service-img-5 img {
    border-bottom-right-radius: 20px;
}

.service-img-6 {
    top: 15px;
    right: 10px;
}

/* Секция "Записаться на бесплтаный замер" */

.sign-up-free-measurement {
    padding: 20px 0px;
    margin-bottom: 100px;
}

.free-measurement-banner-1 {
    color: var(--dark-blue);
}

.free-measurement-banners {
    display: grid;
    grid-template-columns: minmax(0px, 870px) minmax(0px, 870px);
    gap: 20px;
}

.free-measurement-banner {
    background-color: var(--gray-bg);
    border-radius: 20px;
    padding: 40px;
}

.free-measurement-banner-2 {
    background-image: url('../img/main/tent.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.free-measurent-banner-info-title {
    padding-bottom: 16px;
    font-size: 70px;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

.free-measurent-banner-info-text {
    padding-bottom: 24px;
    font-family: 'Helvetica Neue Regular', sans-serif;
}

.free-measurent-banner-icon {
    padding-bottom: 148px;
}

/* Секция "Статистика" */

.statistics {
    color: var(--dark-blue);
    margin-bottom: 120px;
}

.statistic-cards {
    display: grid;
    grid-template-columns: minmax(420px, 568px) minmax(420px, 568px) minmax(420px, 568px);
    gap: 0px;
}

.statistic-card {
    border: 2px dashed #CDD4DD;
    padding: 32px 40px;
}

/* убираем левую границу у всех карточек, которые идут после первой */
.statistic-card + .statistic-card {
  border-left: none;
}

.statistic-up-title {
    color: var(--blue);
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 12px;
}

.statistic-number {
    font-size: 120px;
    line-height: 100%;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

.statistic-number span {
    font-size: 70px;
}

.statistic-text {
    font-family: 'Helvetica Neue Regular', sans-serif;
    font-size: 20px;
    line-height: 110%;
}

/* Секция "ТентБери в деле" */

.tentberi-cases-section {
    color: var(--dark-blue);
    padding: 70px 0px;
}

.tentberi-cases-header {
    display: flex;
    gap: 290px;
    margin-bottom: 40px;
    padding: 0px 40px;
}

.tentberi-cases-title h2 {
    font-size: 70px;
    line-height: 100%;
}

.tentberi-cases-subtitle p {
    max-width: 528px;
    width: 100%;
    font-size: 24px;
    line-height: 110%;
}

/* Кейсы */

.tentberi-cases {
    display: grid;
    grid-template-columns: minmax(0px, 425px) minmax(0px, 425px) minmax(0px, 425px) minmax(0px, 425px);
    gap: 20px;
    row-gap: 40px;
}

.tenberi-case-image {
    padding-bottom: 16px;
}

.tenberi-case-image img {
    border-radius: 20px;
    max-width: 425px;
    width: 100%;
}


.tentberi-case-name {
    min-height: 68px;
}

.tentberi-case-name p {
    font-size: 28px;
    font-family: 'Helvetica Neue Bold', sans-serif;
    line-height: 100%;
    display: -webkit-box;          
  -webkit-box-orient: vertical;  
  -webkit-line-clamp: 2;        
  overflow: hidden;              
  text-overflow: ellipsis;
}

.tentberi-case-data p {
    font-family: 'Helvetica Neue Regular', sans-serif;
    font-size: 20px;
    line-height: 110%;
    color: #8A93A6;
}

